.KanbannerBoard:after {
    display: table;
    font-size: calc(10px + 2vmin);
    column-count: 3;
}

.Column:first-of-type {
    margin-left: 12.5%;
}

.Column {
    float: left;
    width: 25%;
    text-align: center;
    height: 90vh;
    position: relative;
    z-index: 1;
}

.Task {
    margin: 10px 25px 10px 25px;
    background: #f7e9e7;
    border: solid black 3px;
    border-radius: 20px;
}