.KanbannerBoard:after {   
    display: table;
    font-size: calc(10px + 2vmin);
    column-count: 3;
}

.column:first-of-type {
    margin-left: 5%;
}

.column {
    float: left;
    width: 30%;
    border-style: dotted;
    text-align: center;
}

  